:root {
    --background-color: black;
    --button-color: #630000;
    --hovered-button-color: #910000;
    --font-color: white;

    --global-padding-index: 10px;
    --global-font-size: 15px;
    --global-duration-of-animation: 0.5s;
}

* {
    box-sizing: border-box;
    font-size: var(--global-font-size);
    font-family: "Google Sans", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    font-family: sans-serif;
    color:  var(--font-color);
}

.navigator-bar {
    margin-bottom: 20px;
    display: flex;
}

.navigator-bar > button + button {
    margin-left: 10px;
}


